#BC-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
}

#cb-bc {
  background-color: rgb(57, 57, 57);
  justify-content: flex-start;
  text-align: start;
  height: 300px;
  width: 600px;
  overflow: scroll;
  scroll-behavior: smooth;
  padding: 2rem;
}

#bc-lineN {
  display: table-row;
}

.cb-ln {
  display: table-cell;
  color: lightgrey;
  padding-right: 1em;
  user-select: none;
}

@media (width <= 850px) {
  #BC-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}

.card-margin {
  margin: 2rem;
  text-align: left;
}

.link-text {
  text-decoration: none;
  color: white;
}

.candle {
  background-color: rgb(57, 57, 57);
  padding: 2rem;
}
